<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="'이력서 -'+ ${synthesis.userProfile.title}"></title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<!--
<header>
    <div class="container">
        <h1 th:text="${profile.name}"></h1>
        <div class="about-text">
            <p th:text="${profile.skills}"></p>
        </div>
    </div>
</header>

<nav>
    <ul class="nav-links">
        <li><a href="#about">소개</a></li>
        <li><a href="#skills">기술</a></li>
        <li><a href="#projects">프로젝트</a></li>
        <li><a href="#contact">연락처</a></li>
    </ul>
</nav>
-->

<main>
    <!--
    <section id="about">
        <h2 th:text="'소개 - ' + ${synthesis.userProfile.title}"></h2>
        <div class="about-container">
            <img th:src="${synthesis.userProfile.image}" alt="프로필 사진" class="profile-img">
            <div class="about-text">
                <p th:text="${synthesis.userProfile.author}"></p>
                <p th:text="${synthesis.userProfile.content}"></p>
            </div>
        </div>
    </section>

    <section id="skills">
        <h2>기술</h2>
        <div id="skills-container">
            <div th:each="group : ${groupedSkills}">
                <ul class="skills-list">
                    <li th:each="skill : ${group}" th:text="${skill}"></li>
                </ul>
            </div>
        </div>
    </section>

    <section id="projects">
        <h2>프로젝트</h2>
        <div class="container">
            <button type="button" id="create-btn"
                    th:onclick="|location.href='@{/articles/new-article}'|"
                    class="btn btn-secondary btn-sm mb-3">프로젝트 등록</button>

            <ul class="article-list">
                <li class="article-item" th:each="item : ${articles}">
                    <div class="card">
                        <div class="card-header" th:text="${item.id}">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title" th:text="${item.title}"></h5>
                            <p class="card-text" th:text="${item.content}"></p>
                            <a th:href="@{/articles/{id}(id=${item.id})}" class="btn btn-primary">보러가기</a>
                        </div>
                    </div>
                </li>
                <br>
            </ul>

            <button type="button" class="btn btn-secondary" onclick="location.href='/user/logout'">로그아웃</button>
        </div>

    </section>

    <section id="contact">
        <h2>연락처</h2>
        <p>Email: honggildong@example.com</p>
        <p>LinkedIn: <a href="https://linkedin.com/in/honggildong" target="_blank">프로필 보기</a></p>
    </section>
    -->
</main>

<footer>
    <p>&copy; 2025 홍길동. All rights reserved.</p>
</footer>
<script src="/js/article.js"></script>
</body>
</html>
